.banner {
  width: 100vw;
  height: 100vh;
  background-image: url(./explore_img/starry.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.banner h1 {
  font-size: 50px;
}
.slider {
  position: absolute;
  width: 170px;
  height: 200px;
  top: 25%;
  left: 45%;
  transform-style: preserve-3d;
  transform: perspective(1200px);
  animation: autoRun 60s linear infinite;
}
@keyframes autoRun {
  from {
    transform: perspective(1200px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1200px) rotateX(-10deg) rotateY(360deg);
  }
}
.item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}
.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
